# Core (compatible con Python 3.13)
Django==5.1.5
gunicorn==23.0.0

# Database
psycopg2-binary==2.9.10

# Environment
python-decouple==3.8

# Email
resend==2.6.0

# Admin UI
django-unfold==0.41.0

# Image handling
Pillow==11.1.0

# Security
django-cors-headers==4.6.0
whitenoise==6.8.2

# Utils
django-extensions==3.2.3
